{% extends "base.html" %}

{% block content %}

<h3 class="mb-4">Prediction History</h3>

<div class="card shadow p-3">
    <div class="table-responsive">
        <table class="table table-striped text-center">
            <thead class="table-success">
                <tr>
                    <th>Image</th>
                    <th>Disease</th>
                    <th>Confidence</th>
                    <th>Time</th>
                </tr>
            </thead>

            <tbody>
                {% for row in recent %}
                <tr>
                    <td><img src="{{ url_for('static', filename='uploads/' + row.filename) }}" width="80"></td>
                    <td>{{ row.predicted_class }}</td>
                    <td>{{ "%.1f"|format(row.confidence) }}%</td>
                    <td>{{ row.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>

{% endblock %}