{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card shadow p-4 text-center">

            <h3 class="mb-3">Detect Plant Disease</h3>

            <form action="/predict" method="POST" enctype="multipart/form-data">

                <!-- Image Preview -->
                <img id="preview" class="img-fluid mb-3" style="display:none; max-height:250px;">

                <!-- File Input -->
                <input type="file" name="file" class="form-control mb-3"
                       accept="image/*" capture="camera"
                       onchange="previewImage(event)" required>

                <button class="btn btn-success w-100">
                    Predict Disease
                </button>
            </form>

        </div>

    </div>
</div>


{% endblock %}